<div class="cards__container">
    <div class="card_information">
        <h1 class="card_information__title">Lo mas vendido</h1>
        <p class="card_information__category">Frutas</p>
        <p class="card_information__article">Manzanas</p>
    </div>

    <div class="card_information">
        <h1 class="card_information__title">Lo mas vendido</h1>
        <p class="card_information__category">Granos</p>
        <p class="card_information__article">Frijoles</p>
    </div>
    <div class="card_information">
        <h1 class="card_information__title">Lo mas vendido</h1>
        <p class="card_information__category">Carnes</p>
        <p class="card_information__article">Lomo rayado</p>
    </div>
    <div class="card_information">
        <h1 class="card_information__title">Lo mas vendido</h1>
        <p class="card_information__category">Verduras</p>
        <p class="card_information__article">Cebolla</p>
    </div>
</div>