<section class="board">
    <div class="board__item">
        <img src="/frontend/public/icons/WhatsApp Image 2025-09-21 at 7.44.13 PM (1).jpeg" alt="Subir producto" class="board__icon" >
        <button class="board__button">Subir nuevo producto</button>
    </div>

    <div class="board__item">
        <img src="/frontend/public/icons/WhatsApp Image 2025-09-21 at 7.44.13 PM.jpeg" alt="Productos deshabilitados" class="board__icon" >
        <button class="board__button">Productos deshabilitados</button>
    </div>

    <div class="board__item">
        <img src="/frontend/public/icons/WhatsApp Image 2025-09-21 at 7.49.22 PM.jpeg" alt="Pedidos" class="board__icon" >
        <button class="board__button">Pedidos</button>
    </div>

</section>