<main class="page__product">
    <div class="page__gallery">
        <div class="page__gallery--left">
            <img src="/frontend/public/assets/cards/Tree-of-apples.jpg" alt="Árbol de manzanas" class="page__gallery-image">
        </div>
        
    <div class="page__gallery--right">
      <img src="/frontend/public/assets/cards/Basket-of-apples.webp" alt="Cesta de manzanas" class="page__gallery-image">
      <img src="/frontend/public/assets/cards/Apple.webp" alt="Manzana en rama" class="page__gallery-image">
    </div>
    </div>

    <!-- Product Detail Card -->
    <aside class="product-card">
        <h2 class="product-card__title">Manzana Roja Gala</h2>

        <h3 class="product-card__subtitle">Descripción del Producto</h3>
        <p class="product-card__description">
        Nuestras Manzanas son cultivadas con las mejores prácticas agrícolas, garantizando un producto de alta calidad, libre de transgénicos y con un alto valor nutricional. Ideal para la alimentación y para la elaboración de productos alimenticios.
        </p>

        <h3 class="product-card__seller-title">Información del Vendedor</h3>
        <div class="product-card__seller">
            <img src="user-icon.png" alt="Usuario" class="product-card__seller-icon">
            <div class="product-card__seller-info">
            <p class="product-card__seller-name">Ricardo García</p>
            <p class="product-card__seller-detail">Agricultor con mas 10 productos</p>
            </div>
        </div>

        <!-- <button class="product-card__btn">
            <span class="product-card__btn-icon">🛒</span>
            Agregar
        </button> -->

        <div class="product-card__button-container">
            <a href="/frontend/public/views/register.html" class="product-card__btn">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  
            stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  
            class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"><path stroke="none" 
            d="M0 0h24v24H0z" fill="none"/><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path 
            d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg>Agregar</a>
        </div>
    </aside>
</main>