<div class="cards-home__container">
    <div class="card-home_information">
        <h1 class="card-home_information__title">Pedidos Nuevos</h1>
        <p class="card-home_information__amount">Frutas</p>
        <p class="card-home_information__percentage">+5%</p>
    </div>

    <div class="card-home_information">
        <h1 class="card-home_information__title">Productos destacados</h1>
        <p class="card-home_information__amount">Granos</p>
        <p class="card-home_information__percentage">+10%</p>
    </div>
    <div class="card-home_information">
        <h1 class="card-home_information__title">Usuarios</h1>
        <p class="card-home_information__amount">Crecimiento 6.2%</p>
        <p class="card-home_information__percentage">+6%</p>
    </div>
   
</div>