<div class="product-view">
  <div class="product-view__gallery">
    <img
      src="/frontend/public/img/img-tomato.webp"
      alt="Tomates frescos"
      class="product-view__image--main"
      id="main-image"
    >

    <div class="product-view__thumbnails">
      <img src="/frontend/public/img/img-tomato.webp" alt="Tomates" class="product-view__thumbnail">
      <img src="/frontend/public/img/img-tomate.jpg" alt="Tomates maduros" class="product-view__thumbnail">
      <img src="/frontend/public/img/img-tomate2.jpg" alt="Tomates verdes" class="product-view__thumbnail">
      <img src="/frontend/public/img/img-tomate.jpg" alt="Tomates detalle" class="product-view__thumbnail">
    </div>
  </div>

  <div class="product-view__info">
    <h1 class="product-view__name">Tomates Chonto Frescos</h1>
    <p class="product-view__type">Tipo: Hortaliza</p>
    <p class="product-view__unit">Unidad de medida: Kilogramo (kg)</p>
    <p class="product-view__price">$4.500 / kg</p>
    <p class="product-view__guarantee">Garantía: 2 días después de la entrega</p>

    <div class="product-view__buttons">
      <a href="/frontend/public/views/p_unit-measure.html"class="product-view__btn product-view__btn--add">Agregar al carrito</a>
      <a href="/frontend/public/views/contact.html" class="product-view__btn product-view__btn--message">Enviar mensaje al vendedor</a>
    </div>

    <div class="product-view__description">
      <h2 class="product-view__subtitle">Descripción</h2>
      <p class="product-view__p">
        Tomates chonto cultivados de forma natural en tierras fértiles, sin químicos añadidos. Ideales para ensaladas, salsas y preparaciones frescas.
      </p>
    </div>

    <div class="product-view__seller">
      <h2 class="product-view__subtitle">Información del vendedor</h2>
      <p class="product-view__p"><strong>Nombre:</strong> Finca Los Aromos</p>
      <p class="product-view__p"><strong>Ubicación:</strong> Santa Rosa de Cabal, Risaralda</p>
      <p class="product-view__p"><strong>URL de pagina web: </strong><a href="https://agrophia.com/fincalosaromos" class="product-view__link" target="_blank">Visitar sitio</a></p>
    </div>

    <div class="product-view__extra">
      <h2 class="product-view__subtitle">Métodos de pago y entrega</h2>
      <ul class="product-view__list">
        <li><strong>Pagos:</strong> Pago Contra entrega  | Pago de contado | Transferencia</li>
        <li><strong>Entrega:</strong> Envio domicilio | Recogido en tienda | Entrega bajo cita</li>
      </ul>
    </div>
  </div>
</div>
