<div class="card-vegetables">
  <img src="{{image}}" alt="Manzanas" class="card-vegetables__img">
  <div class="card-vegetables__info">
    <p class="card-vegetables__price">{{price}}</p>
    <p class="card-vegetables__name">{{name}}</p>
  </div>
  <div class="card-vegetables__button">
    <a href="/frontend/public/views/p_unit-measure.html" class="card-vegetables__button-one">
    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  
    stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  
    class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"><path stroke="none" 
    d="M0 0h24v24H0z" fill="none"/><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path 
    d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg>{{button}}</a>
  </div>
</div>