<section class="qa-section">
  <h3 class="qa__title">Preguntas y respuestas</h3>
  <!-- Preguntas renderizadas aquí -->

  <div class="question-bar">
    <label for="question-input" class="question-bar__label">Pregúntale al vendedor</label>
    <div class="question-bar__container">
      <input 
        type="text" 
        id="question-input" 
        class="question-bar__input" 
        placeholder="Escribe la pregunta">
      <button class="question-bar__button">Preguntar</button>
    </div>
  </div>
</section>