<section class="qa">
  <h3 class="qa__title">Preguntas y respuestas</h3>

  <!-- Pregunta -->
  <div class="qa__item qa__item--question">
    <div class="qa__user qa__user--one">
      <img src="/frontend/public/icons/user copy.svg" alt="Avatar" class="qa__avatar">
      <div class="qa__info qa__info--one">
        <span class="qa__name">Sofía Lopez</span>
        <span class="qa__time">Hace 2 días</span>
      </div>
    </div>
    <p class="qa__text qa__text--one">¿El maíz está certificado como orgánico?</p>
  </div>

  <!-- Respuesta -->
  <div class="qa__item qa__item--answer">
    <div class="qa__user qa__user--two">
      <img src="/frontend/public/icons/user copy.svg" alt="Avatar" class="qa__avatar">
      <div class="qa__info qa__info--two">
        <span class="qa__name">Ricardo Granada</span>
        <span class="qa__time">Hace 1 día</span>
      </div>
    </div>
    <p class="qa__text qa__text--two">
      No, nuestro maíz no cuenta con certificación orgánica, pero se cultiva con prácticas sostenibles.
    </p>
  </div>

  <div class="qa__question-bar">
    <label for="question-input" class="qa__label">Pregúntale al vendedor</label>
    <div class="qa__container">
      <input 
        type="text"  
        class="qa__input" 
        placeholder="Escribe la pregunta">
      <button class="qa__button">Preguntar</button>
    </div>
  </div>
</section>