<footer class="footer">
   <div class="footer__container"> 
     
    <div class="footer__copy">
      Agrophia ©2025 - Todos los derechos reservados
    </div>
    <div class="footer__social">
       siguenos
      <img src="/frontend/public/icons/icon_instagram .svg" alt="instagram" class="footer__social--icon" width="20px" height="20px">
      <img src="/frontend/public/icons/icon_facebook.svg" alt="faacebook" class="footer__social--icon" width="20px" height="20px">
      <img src="/frontend/public/icons/icon_tiktok.svg" alt="tik tok" class="footer__social--icon" width="20px" height="20px">
     </div>
  </div>
</footer>