<div class="forgot__container">
    <h2 class="forgot__title">Agrophia</h2>
  
    <div class="forgot__card">
      <h3 class="forgot__subtitle">¿Olvidaste tu contraseña?</h3>
      <p class="forgot__text">Ingresa tu correo electrónico para <br> restablecerla</p>
  
      <form class="forgot__form">
        <input type="email" placeholder="Correo Electrónico" class="forgot__input" required>
        <button type="submit" class="forgot__btn">Enviar código</button>
      </form>
    </div>
  </div>
  