<div class="forgot-password">
  <h2 class="forgot-password__title">Agrophia</h2>

  <div class="forgot-password__card">
    <h3 class="forgot-password__subtitle">¿Olvidaste tu contraseña?</h3>
    <p class="forgot-password__description">Ingresa tu correo electrónico para <br> restablecerla</p>

    <form class="forgot-password__form">
      <input type="email" placeholder="Correo Electrónico" class="forgot-password__input" required>
      <a href="/frontend/public/views/reset_password.html" type="submit" class="forgot-password__btn">Enviar código</a>
    </form>
  </div>
</div>
  