<div class="forgot-password">
  <h2 class="forgot-password__title">Agrophia</h2>

  <div class="forgot-password__card">
    <p class="forgot-password__description">Ingresa tu correo electrónico para <br> restablecerl la contraseña</p>
    
    <form class="forgot-password__form">
      <input type="email" placeholder="Correo electrónico" class="forgot-password__input" required>
    </form>
    <a href="/frontend/public/views/reset_password.html" type="submit" class="forgot-password__btn">Enviar código</a>
  </div>
</div>
<a href="/frontend/public/views/login.html" class="profile-update__back">Volver</a>

  