<div class="login-content">
  <h1 class="login-container__title">Iniciar Sesión</h1>

  <form class="login-form">
      <label for="usuario" class="login-form__label">Número de documento</label>
      <input type="text" id="usuario" class="login-form__input" name="usuario" placeholder="Número de documento" required />

      <label for="clave" class="login-form__label">Contraseña</label>
      <input type="password" id="clave" class="login-form__input" name="clave" placeholder="Contraseña" required />

      <div class="login-form__show-password">
        <input type="checkbox" id="toggle-password" class="login-form__checkbox" />
        <label for="toggle-password" class="login-form__checkbox-label">Mostrar contraseña</label>
      </div>

      <button type="submit" class="login-form__button">Iniciar sesión</button>
    </form>

    <p class="login-container__register">
      ¿Olvidaste tu contraseña?
    </p>
  </div>


