<a href="/frontend/public/views/p_forgot-password.html" class="reset__back">Volver</a>

<div class="reset-container">
   <h1 class="reset-container__title">Agrophia</h1> 
  
  <div class="reset">
    <!-- <div class="reset__icon"> -->
      <img src="/frontend/public/icons/lock.svg" alt="candado" width="24px" height="24px" class="reset__icon">
    <!-- </div> -->
    <h2 class="reset__title">Restablecer tu contraseña</h2>
    <form class="reset__form">
      <label class="reset__label">Código de verificación</label>
      <input type="text" class="reset__input">

      <label class="reset__label">Nueva contraseña</label>
      <input type="password" class="reset__input">

      <label class="reset__label">Confirmar contraseña</label>
      <input type="password" class="reset__input">

      <button type="submit" class="reset__button">Cambiar Contraseña</button>
    </form>
  </div>
</div>