<a href="/frontend/public/views/p_login-customer.html" class="container-unit-measure__back">Volver</a>

<div class="container-unit-measure">
  <h3 class="container-unit-measure__title">Cantidad</h3>
  <p class="container-unit-measure__description">Ingresa la cantidad de la unidad de medida</p>
  
  <form class="container-unit-measure__form">
    <input type="number" placeholder="Cantidad" class="container-unit-measure__form-amount"/>
  </form>

  <a href="/frontend/public/views/p_login-customer.html" class="container-unit-measure__button">Agregar</a>

</div>
