<div class="method-payment">
  <h3 class="method-payment__form-title">Método de pago</h3>
  <form class="method-payment__form">
    <div>
      <label for="metodo" class="method-payment__form-label">Selecciona el método de pago</label>
      <select name="metodo" class="method-payment__form-option" required>
        <option value="">-- Selecciona --</option>
        <option value="transferencia">Pago de contado</option>
        <option value="contraentrega">Pago contra entrega</option>
      </select>
    </div>

    <div>
      <label for="nombre" class="method-payment__form-label">Nombre completo</label>
      <input type="text" name="nombre" class="method-payment__form-input" placeholder="Nombre completo" required>
    </div>

    <div>
      <label for="correo" class="method-payment__form-label">Correo electrónico</label>
      <input type="email" name="correo" class="method-payment__form-input" placeholder="ejemplo@correo.com" required>
    </div>

    <div>
      <label for="direccion" class="method-payment__form-label">Dirección de entrega</label>
      <input type="text" name="direccion" class="method-payment__form-input" placeholder="Tu dirección" required>
    </div>

    <div>
      <label for="referencia" class="method-payment__form-label">Número de comprobante o referencia</label>
      <input type="text" name="referencia" class="method-payment__form-input" placeholder="Ej: #123456">
    </div>

    <div>
      <label for="monto" class="method-payment__form-label">Monto transferido</label>
      <input type="number" name="monto" class="method-payment__form-input" placeholder="Ej: 50000">
    </div>

    <div>
      <label for="entidad" class="method-payment__form-label">Entidad donde pagaste</label>
      <input type="text" name="entidad" class="method-payment__form-input" placeholder="Ej: Bancolombia">
    </div>

  </form>
  <a href="/frontend/public/views/p_login-customer.html" type="submit" class="method-payment__form-button">Finalizar Pago</a>
  <a href="/frontend/public/views/p_login-customer.html" class="method-payment__form-volver">← Volver al inicio</a>
</div>