<header class="header">
   <div class="header__contact">
        <img src="/frontend/public/icons/user.svg" alt="contact" class="header__contact-icon" width="48" height="48">
   </div>
      
   <h1 class="header__title"> Bienvenido</h1>
   <div class="header__subtitle">Explora tus productos y revisa tus pedidos</div>
    
   <nav class="navbar">
      <div class="navbar__group navbar__group--right">
        <ul class="navbar__list">
          <li class="navbar__item"><a href="contact.html" class="navbar__link">Compras</a></li>
          <li class="navbar__item"><a href="register.html" class="navbar__link">Cerrar sesión</a></li>
        </ul>
      </div>
   </nav>
</header>
