<section class="board">
    <div class="board__item">
        <img src="/frontend/public/icons/subir_producto.jpeg" alt="Subir producto" class="board__icon" >
        <button class="board__button">Subir nuevo producto</button>
    </div>

    <div class="board__item">
        <img src="/frontend/public/icons/productos_deshabilitados.png" alt="Productos deshabilitados" class="board__icon" >
        <button class="board__button">Productos deshabilitados</button>
    </div>

    <div class="board__item">
        <img src="/frontend/public/icons/pedidos.png" alt="pedidos" width="48px" height="48px" class="board__icon">
        <button class="board__button">Pedidos</button>
    </div>

   <div class="board__item">
        <img src="/frontend/public/icons/ver_productos.jpeg" alt="Ver productos" class="board__icon" >
        <button class="board__button">Ver productos publicados</button>
    </div>

</section>
 