<header class="header-available">
  <h1 class="header-available__title">Productos Publicados</h1>
  <div class="header-available__subtitle">Productos disponibles del campo colombiano</div>
  <nav class="header-available__navbar">
    <div class="header-available__group header-available__group-right">
      <ul class="header-available__list">
        <li><a href="/frontend/public/views/p_main.html" class="header-available__link">Inicio</a></li>
        <li><a href="/frontend/public/views/shopping.html" class="header-available__link">Carrito de compras</a></li>
        <li><a href="register.html" class="header-available__link">Contacto</a></li>
      </ul>
    </div>
  </nav>
</header> 