<header class="contact-home">
  <h1 class="contact-home__title">Agrophia</h1>
  <div class="contact-home__subtitle">Conectando el campo con tu mesa</div>
<nav class="contact-home__navbar">
  <div class="header-home__group header-home__group--left">
  </div>
  <div class="contact-home__group contact-home__group--right">
    <ul class="contact-home__list">
      <li class="contact-home__item"><a href="/frontend/public/views/ordes.html" class="contact-home__link">Compras</a></li>
      <li class="contact-home__item"><a href="/frontend/public/views/shopping.html" class="contact-home__link">Carrito de compras</a></li>
      <li class="contact-home__item"><a href="/frontend/public/views/index.html" class="contact-home__link">Cerrar Sesión</a></li>
      <li class="contact-home__item"><a href="form_contact.html" class="contact-home__link"><a><svg
        class="contact-home__menu" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor" stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-menu-deep"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6h16" /><path d="M7 12h13" /><path d="M10 18h10" /></svg></a></li>
    </ul>
  </div>
</nav>
</header> 