<header class="header-home">
  <h1 class="header-home__title">Bienvenido</h1>
  <div class="header-home__subtitle">Explora productos y realiza tus solicitudes</div>
<nav class="header-home__navbar">
  <div class="header-home__group header-home__group--left">
    <ul class="header-home__list">
      <li class="header-home__item"><a href="index.html" class="header-home__link">Inicio</a></li>
      <li class="header-home__item"><a href="products.html" class="header-home__link">Compras</a></li>
    </ul>
  </div>
  <div class="header-home__group header-home__group--right">
    <ul class="header-home__list">
      <li class="header-home__item"><a href="contact.html" class="header-home__link">Carrito de compras</a></li>
      <li class="header-home__item"><a href="register.html" class="header-home__link">Cerrar Sesión</a></li>
      <li class="header-home__item"><a href="login.html" class="header-home__link"><a><svg
        class="header-home__menu" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor" stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-menu-deep"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6h16" /><path d="M7 12h13" /><path d="M10 18h10" /></svg></a></li>
    </ul>
  </div>
</nav>
</header> 