
   <header class="header">
    <h1 class="navbar__title"> Agrophia</h1>
       
        <div class="navbar__subtitle">Conectando el campo con tu mesa</div>
    
    <nav class="navbar">
  <div class="navbar__group navbar__group--left">
    <ul class="navbar__list">
      <li class="navbar__item"><a href="index.html" class="navbar__link">Inicio</a></li>
      <li class="navbar__item"><a href="products.html" class="navbar__link">Productos</a></li>
    </ul>
  </div>
  <div class="navbar__group navbar__group--right">
    <ul class="navbar__list">
      <li class="navbar__item"><a href="contact.html" class="navbar__link">Contacto</a></li>
      <li class="navbar__item"><a href="register.html" class="navbar__link">Registrarse</a></li>
      <li class="navbar__item"><a href="login.html" class="navbar__link">Iniciar sesión</a></li>
    </ul>
  </div>
</nav>

</header> 
