<header class="header-available">
  <h1 class="header-available__title">Productos Disponibles</h1>
  <div class="header-available__subtitle">Productos disponibles del campo colombiano</div>
  <nav class="header-available__navbar">
    <div class="header-available__group header-available__group-right">
      <ul class="header-available__list">
        <li><a href="/frontend/public/views/p_login-customer.html" class="header-available__link">Inicio</a></li>
        <li class="header-home__item"><a href="/frontend/public/views/ordes.html" class="header-home__link">Compras</a></li>
        <li><a href="/frontend/public/views/shopping.html" class="header-available__link">Carrito de compras</a></li>
        <li><a href="/frontend/public/views/contact.html" class="header-available__link">Contacto</a></li>
        <li class="header-home__item"><a href="/frontend/public/views/index.html" class="header-home__link">Cerrar Sesión</a></li>
      </ul>
    </div>
  </nav>
</header> 