
<table class="orders-table">
<thead class="orders-table__head">
    <tr class="orders-table__row users-table__row--head">
    <th class="orders-table__header">Id de pedido</th>
    <th class="orders-table__header">Cliente</th>
    <th class="orders-table__header">Fecha</th>
    <th class="orders-table__header">Productos</th>
    <th class="orders-table__header">Cantidad</th>
    <th class="orders-table__header">Total</th>
    <th class="orders-table__header">Estado</th>
    <th class="orders-table__header">Acciones</th>
    </tr>
</thead>

<tbody class="users-table__body">
    <tr class="orders-table__row">
    <td class="orders-table__cell">2</td>
    <td class="orders-table__cell">Laura Quintero</td>
    <td class="orders-table__cell">01/09/2025</td>
    <td class="orders-table__cell">Leche, Pan</td>
    <td class="orders-table__cell">5</td>
    <td class="orders-table__cell">50.000 COP</td>
    <td class="orders-table__cell-status">
        <h6 class="orders-table__status-completed">Completado</h6>
    </td>
    <td class="orders-table__cell--actions">
        <button class="orders-table__button--edit">
                        <img src="/frontend/public/icons/edit.svg" alt="editar" class="orders-table__icon">

        </button>
        <button class="orders-table__button--rastrear">
            <img src="/frontend/public/icons/track.svg" alt="Rastrear" class="orders-table__icon">

        </button>
    </td>
    </tr>
    
    <tr class="orders-table__row">
    <td class="orders-table__cell">3</td>
    <td class="orders-table__cell">Salome Lopez</td>
    <td class="orders-table__cell">01/09/2025</td>
    <td class="orders-table__cell">Uvas, Leche</td>
    <td class="orders-table__cell">5</td>
    <td class="orders-table__cell">74.000 COP</td>
    <td class="orders-table__cell-status">
        <span class="orders-table__status-earring">Pendiente</span>
    </td>
    <td class="orders-table__cell--actions">
        <button class="orders-table__button--edit">
            <img src="/frontend/public/icons/edit.svg" alt="editar" class="orders-table__icon">

        </button>
        <button class="orders-table__button--rastrear">
            <img src="/frontend/public/icons/track.svg" alt="Rastrear" class="orders-table__icon">

        </button>
    </td>
    </tr>
</tbody>
</table>
