<div class="profile-content">
    <h2 class="profile__title">Perfil</h2>

    <h4 class="profile__field1">Nombre Completo</h4>
    <p class="profile__paragraph1">Juan Pérez</p>

    <h4 class="profile__field2">Número de Identificación</h4>
    <p class="profile__paragraph2">123456789</p>

    <h4 class="profile__field3">Telefono</h4>
    <p class="profile__paragraph3">3123456789</p>

    <h4 class="profile__field4">Correo Electrónico</h4>
    <p class="profile__paragraph4">juanperez@agrophia.com</p>

    <h4 class="profile__field5">Dirección</h4>
    <p class="profile__paragraph5">Finca La Esperanza. Risaralda -Pereira</p>

    <button class="profile-button__edit">Editar Información</button>

</div>
