<div class="profile-content">
    <h2 class="profile__title">Perfil</h2>

    <h4 class="profile__field">Nombre Completo</h4>
    <p class="profile__paragraph">Juan Pérez</p>

    <h4 class="profile__field">Número de Identificación</h4>
    <p class="profile__paragraph">123456789</p>

    <h4 class="profile__field">Telefono</h4>
    <p class="profile__paragraph">3123456789</p>

    <h4 class="profile__field">Correo Electrónico</h4>
    <p class="profile__paragraph">juanperez@agrophia.com</p>

    <h4 class="profile__field">Dirección</h4>
    <p class="profile__paragraph">Finca La Esperanza. Risaralda -Pereira</p>

    <button class="profile-button__edit">Editar Información</button>

</div>
