<a href="/frontend/public/views/index.html" class="register__back">Volver</a>
<h1 class="home__title">Agrophia</h1>
<div class="form-content__register">
  <h2 class="form__title">Formulario de Registro</h2>
  <form class="form-content__group">
    <div class="form__group">
      <label for="tdocumento" class="form__label">Tipo de Documento</label>
      <select name="tdocumento" class="form__option" required>
      <option value="">-- Tipo de documento --</option>
      <option value="cc">CC</option>
      <option value="ti">TI</option>
      <option value="cedula extranjera">Cédula extranjera</option>
      <option value="pasaporte">Pasaporte</option>
    </select>
      
    </div>
    <div class="form__group">
      <label for="documento" class="form__label">Número de Documento</label>
      <input type="text" class="form__input" placeholder="Número de documento">
    </div>

    <div class="form__group">
      <label for="nombres" class="form__label">Nombres</label>
      <input type="text" class="form__input" placeholder="Nombres">
    </div>

    <div class="form__group">
      <label for="apellidos" class="form__label">Apellidos</label>
      <input type="text" class="form__input" placeholder="Apellidos">
    </div>

    <div class="form__group">
      <label for="email" class="form__label">Correo Electrónico</label>
      <input type="email" class="form__input" placeholder="Correo Electrónico">
    </div>

    <div class="form__group">
      <label for="telefono" class="form__label">Teléfono</label>
      <input type="tel" class="form__input" placeholder="Teléfono">
    </div>

    
    <div class="form__group">
      <label for="direccion" class="form__label">Dirección completa</label>
      <input type="text" class="form__input" placeholder="Dirección completa">
      <!-- <select i class="form__select">
        <option value="">Selecciona una opción</option>
        <option value="opt1">Risaralda</option>
        <option value="opt2">Caldas</option>
        <option value="opt2">Quindio</option>
      </select> -->
    </div>
    
    <div class="form__group">
      <label for="password" class="form__label">Contraseña</label>
      <input type="password" class="form__input" placeholder="Contraseña">

        <div class="form__check">
          <label for="mostrar" class="form__label form__see--password">
          <input type="checkbox">
            Mostrar contraseña</label>
        </div>
    </div>
  
    <div class="form__group">
        <label for="password" class="form__label"> Confirmar Contraseña</label>
        <input type="password" class="form__input" placeholder="Contraseña">
    </div>
    
  </form>


  <a href="/frontend/public/views/p_login-customer.html" class="form-register-link">
    <button type="submit" class="form__button">Registrarse</button>
  </a>
</div>