  <div class="form-content">
    <h2 class="form__title">Formulario de Registro</h2>
    <form>
      <div class="form__group">
        <label for="documento" class="form__label">Número de Documento</label>
        <input type="text" class="form__input" placeholder="Número de documento">
      </div>

      <div class="form__group">
        <label for="nombres" class="form__label">Nombres</label>
        <input type="text" class="form__input" placeholder="Nombres">
      </div>

      <div class="form__group">
        <label for="apellidos" class="form__label">Apellidos</label>
        <input type="text" class="form__input" placeholder="Apellidos">
      </div>

      <div class="form__group">
        <label for="email" class="form__label">Correo Electrónico</label>
        <input type="email" class="form__input" placeholder="Correo Electrónico">
      </div>

      <div class="form__group">
        <label for="telefono" class="form__label">Teléfono</label>
        <input type="tel" class="form__input" placeholder="Teléfono">
      </div>

      <div class="form__group">
        <label for="direccion" class="form__label">Dirección</label>
        <select i class="form__select">
          <option value="">Selecciona una opción</option>
          <option value="opt1">Risaralda</option>
          <option value="opt2">Caldas</option>
          <option value="opt2">Quindio</option>
        </select>
      </div>

      <div class="form__group">
        <label for="password" class="form__label">Contraseña</label>
        <input type="password" class="form__input" placeholder="Contraseña">
      </div>

      <div class="form__check">
        <input type="checkbox" class="form__checkbox">
        <label for="mostrar" class="form__label">Mostrar contraseña</label>
      </div>

      <button type="submit" class="form__button">Registrarse</button>
    </form>
  </div>