<section class="product-detail">
  <div class="product-detail__container">
    <div class="product-detail__image">
      <img src="/frontend/public/img/img-tomato.webp" alt="Tomates frescos" class="product-detail__image--photo">
    </div>

    <div class="product-detail__info">
      <h2 class="product-detail__name">Tomates Chonto</h2>
      <p class="product-detail__type"><strong>Tipo:</strong> Hortaliza</p>
      <p class="product-detail__quantity"><strong>Cantidad:</strong> 30 kg</p>
      <p class="product-detail__price"><strong>Precio:</strong> $3.500</p>
      <p class="product-detail__unit"><strong>Unidad de medida:</strong> Kilogramo</p>
      <p class="product-detail__description"><strong>Descripción:</strong> Tomates frescos cosechados sin químicos, ideales para ensaladas y salsas.</p>
      <p class="product-detail__warranty"><strong>Garantía:</strong> 2 días por daño o deterioro.</p>
      <p class="product-detail__payment"><strong>Método de pago:</strong> Efectivo / Transferencia</p>
      <p class="product-detail__delivery"><strong>Método de entrega:</strong> A domicilio o punto de encuentro</p>

      <div class="product-detail__actions">
      <a href="/frontend/public/views/update_product.html" class="product-detail__btn--edit">Editar</a>
      <a href="/frontend/public/views/interface_farmer.html" class="product-detail__btn--disable">Deshabilitar
      </a>
      </div>
    </div>
  </div>
  
<!-- Segundo producto -->
<div class="product-detail__container">
  <div class="product-detail__image">
    <img src="/frontend/public/img/papas-criollas.jpg" alt="Papas criollas frescas" class="product-detail__image--photo">
  </div>

  <div class="product-detail__info">
    <h2 class="product-detail__name">Papa Criolla</h2>
    <p class="product-detail__type"><strong>Tipo:</strong> Tubérculo</p>
    <p class="product-detail__quantity"><strong>Cantidad:</strong> 50 kg</p>
    <p class="product-detail__price"><strong>Precio:</strong> $2.800</p>
    <p class="product-detail__unit"><strong>Unidad de medida:</strong> Kilogramo</p>
    <p class="product-detail__description"><strong>Descripción:</strong> Papas criollas seleccionadas, perfectas para freír o cocinar al vapor.</p>
    <p class="product-detail__warranty"><strong>Garantía:</strong> 3 días por daño o deterioro.</p>
    <p class="product-detail__payment"><strong>Método de pago:</strong> Efectivo / Nequi / Daviplata</p>
    <p class="product-detail__delivery"><strong>Método de entrega:</strong> Punto de encuentro o entrega local</p>

    <div class="product-detail__actions">
      <a href="/frontend/public/views/update_product.html" class="product-detail__btn--edit">Editar</a>
      <a href="/frontend/public/views/interface_farmer.html" class="product-detail__btn--disable">Deshabilitar</a>
    </div>
  </div>
  
</section>
