<div class="shoppingcar-content">
    <table class="shoppincar__table">
        <thead class="shoppincar__thead">
            <tr class="shoppingcar__row">
                <th class="shoppincar__header">Producto</th>
                <th class="shoppincar__header">Precio/ <br> Unidad</th>
                <th class="shoppincar__header">Tipo</th>
                <th class="shoppincar__header">Cantidad</th>
                <th class="shoppincar__header">Acciones</th>
            </tr>
        </thead>
        <tbody class="shoppincar__body">
            <tr class="shoppingcar__row">
                <td class="shoppincar__column">Tomates orgánicos</td>
                <td class="shoppincar__column">$500</td>
                <td class="shoppincar__column">Verdura</td>
                <td class="shoppincar__column">10 kg</td>
                <td class="shoppincar__column shoppincar__colum--buttons">

                    <button class="shoppingcar__btn shoppingcar__btn--modify" onclick="window.location.href='http://127.0.0.1:5501/frontend/public/views/p_unit-measure.html'">Modificar</button>
                    <button class="shoppingcar__btn shoppingcar__btn--delete">X</button>

                </td>
            </tr>
            <tr class="shoppingcar__row">
                <td class="shoppincar__column">Maíz Amarillo</td>
                <td class="shoppincar__column">$1000</td>
                <td class="shoppincar__column">Grano</td>
                <td class="shoppincar__column">25 kg</td>
                <td class="shoppincar__column shoppincar__colum--buttons">

                    <button class="shoppingcar__btn shoppingcar__btn--modify" onclick="window.location.href='http://127.0.0.1:5501/frontend/public/views/p_unit-measure.html'" >Modificar</button>
                    <button class="shoppingcar__btn shoppingcar__btn--delete">X</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="info-content">
    
    <div class="info__link--content">

        <button onclick="window.location.href='http://127.0.0.1:5501/frontend/public/views/p_card-available.html'"class="info__home--button">Volver al inicio</button>

    </div>
    
    <div class="info__total--content">
        
        <div class="info__content--value">

            <p class="info__total--value">Valor total: 204.754 COP</p>

        </div>
                
        <div class="info__content--button">

            <button class="info__total--button" onclick="window.location.href='http://127.0.0.1:5501/frontend/public/views/p_from-method_payment.html'">Pagar Solicitudes</button>
            
        </div>
        
    </div>
    
</div>