<div class="shoppingcar-content">
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tomates orgánicos</td>
                <td>Verdura</td>
                <td>10 kg</td>
                <td>
                    <button class="modificar__btn">Modificar</button>
                    <button class="eliminar__btn">X</button>
                </td>
            </tr>
            <tr>
                <td>Maíz Amarillo</td>
                <td>Grano</td>
                <td>25 kg</td>
                <td>
                    <button class="modificar__btn">Modificar</button>
                    <button class="eliminar__btn">X</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="#" class="link__home">Volver al inicio</a>
    <div class="total">
        <strong><p class="valor__total">Valor total: 204.754 COP</p></strong>
        <button class="button__pagar" id="pagar-btn">Pagar Solicitudes</button>
    </div>
</div>