<div class="tableorder-content">
    <table class="tableorder__table">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Productos</th>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Envio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Brainer Morales</td>
                <td>02/06/2025</td>
                <td>Tomates</td>
                <td>Verdura</td>
                <td>10kg</td>
                <td>$30.000</td>
                <td>
                    <button class="tableorder__btn tableorder__btn--pending">Pendiente</button>
                </td>
                <td>En camino</td>
            </tr>
            <tr>
                <td>Sebastian Valencia Giraldo</td>
                <td>06/10/2025</td>
                <td>Maiz</td>
                <td>Grano</td>
                <td>5kg</td>
                <td>$50.000</td>
                <td>
                    <button class="tableorder__btn tableorder__btn--pendingone">Completado</button>
                </td>
                <td>Entregado</td>
            </tr>
        </tbody>
    </table>
    <a href="/frontend/public/views/p_card-available.html" class="tableorder__link tableorder__link--home">Volver al inicio</a>
</div>