<div class="tableorder-content">
    <table>
        <thead>
            <tr>
                <th>Id_Pedido</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Productos</th>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Envio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1001</td>
                <td>Brainer Morales</td>
                <td>02/06/2025</td>
                <td>Tomates</td>
                <td>Verdura</td>
                <td>10kg</td>
                <td>$30.000</td>
                <td>
                    <button class="tableorder__btn tableorder__btn--pending">Pendiente</button>
                </td>
                <td>En camino</td>
            </tr>
        </tbody>
    </table>
    <a href="#" class="tableorder__link tableorder__link--home">Volver al inicio</a>
</div>