<div class="toolbar-main">
  <div class="toolbar-main__search">
    <button class="toolbar-main__search-btn">
      <img src="/frontend/public/icons/search.svg " height="24" width="24" alt="Buscar">
    </button>
    <input type="text" class="toolbar-main__search-input" placeholder="Buscar">
  </div>

  <div class="toolbar-main__row-icons">
    <button class="toolbar-main__icon">
      <img src="/frontend/public/icons/bell.svg" alt="Notificaciones" class="toolbar-main__icon-img">
    </button>
    <button class="toolbar-main__icon">
      <img src="/frontend/public/icons/user.svg" alt="Perfil" class="toolbar-main__icon-img">
    </button>
  </div>
</div>
