<!-- Navbar de la sección de usuarios -->
<nav class="shop-navbar shop-navbar--users">

  <div class="shop-navbar__content">

    <div class="header-home__group header-home__group--left">
      <h1 class="header-home__title">Agrophia</h1>
      <img src="/frontend/public/icons/planta.png" alt="Icon principal">
    </div>

    <div class="shop-navbar__group shop-navbar__group--right">

      <a href="/frontend/public/views/generate-shop-report.html" class="shop-navbar__link">
        <button class="shop-navbar__button">Generar Reporte</button>
      </a>

      <button class="shop-navbar__button">Nuevo tienda</button>
      <button class="shop-navbar__button shop-navbar__button--message">Enviar mensaje</button>

      <div class="shop-navbar__icons">
        <button class="shop-navbar__icon">
          <img src="/frontend/public/icons/bell.svg" alt="Notificaciones" class="shop-navbar__icon-img">
        </button>
        <button class="shop-navbar__icon">
          <img src="/frontend/public/icons/user.svg" alt="Perfil" class="shop-navbar__icon-img">
        </button>
      </div>

    </div>

  </div>

</nav>
