<!-- Toolbar de la sección de usuarios -->
<div class="toolbar-users">

  <div class="toolbar-users__content">
    <button class="toolbar-users__button">Generar Reporte</button>
    <button class="toolbar-users__button">Nuevo Usuario</button>
    <button class="toolbar-users__button toolbar-users__button--message">Enviar mensaje</button>
    
    <div class="toolbar-users__search">
      <button class="toolbar-users__search-btn">
        <img src="/frontend/public/icons/search.svg" alt="Buscar" class="toolbar-users__search-icon">
      </button>
      <input type="text" class="toolbar-users__search-input" placeholder="Buscar">
    </div>
    
  </div>
<div class="toolbar-users__row-icons">
  <button class="toolbar-users__icon">
    <img src="/frontend/public/icons/bell.svg" alt="Notificaciones" class="toolbar-users__icon-img">
  </button>
  <button class="toolbar-users__icon">
    <img src="/frontend/public/icons/user.svg" alt="Perfil" class="toolbar-users__icon-img">
  </button>
</div>
</div>
