<!-- Contenedor debajo del header -->
<div class="toolbar-orders">
  <button class="toolbar-orders__button">Generar Reporte</button>
  <button class="toolbar-orders__button">Gestionar Pedido</button>

  <!-- Iconos de notificaciones y perfil -->
   <div class="toolbar-orders__row-icons">
  <button class="toolbar-orders__icon" aria-label="Notificaciones">
    <img src="/frontend/public/icons/bell.svg" alt="" class="toolbar-orders__icon-img">
  </button>
  <button class="toolbar-orders__icon" aria-label="Perfil">
    <img src="/frontend/public/icons/user.svg" alt="" class="toolbar-orders__icon-img">
  </button>
  </div>
</div>
