<div class="unit-measure">
    <h3 class="unit-measure__title">Elige la unidad de medida</h3>
    <hr>
    <form class="unit-measure__form">
      <label><input type="radio" name="unidad" value="Tonelada"> Tonelada</label><br>
      <label><input type="radio" name="unidad" value="Libra"> Libra</label><br>
      <label><input type="radio" name="unidad" value="Arroba"> Arroba</label><br>
      <label><input type="radio" name="unidad" value="Kilo"> Kilo</label><br>
      <label><input type="radio" name="unidad" value="Gramo"> Gramo</label><br>
      <label><input type="radio" name="unidad" value="Litro"> Litro</label><br>
      <label><input type="radio" name="unidad" value="Galon"> Galon</label><br>
      <label><input type="radio" name="unidad" value="Otro"> Otro</label>
    </form>
  </div>
  