.contenedor-cards__public {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  max-width: 1920px;
}

/* Contenedor que organiza las cards en grilla */
.card-public__container{
  display: grid;
  gap: 24px;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}

/* === Card === */
.card-public {
  background-color: var(--white);
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  max-width: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-public:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 4px rgba(0, 0, 0, 1);
}

/* Imagen de la card */
.card-public__img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card-public__info {
  display: flex;
  flex-direction: column; /* Precio arriba, nombre abajo */
  align-items: flex-start; /* ← Alineados a la izquierda */
  margin-bottom: 10px;
}

/* Texto dentro de la card */
.card-public__price {
  font-size: var(--fs-sm);
  color: var(--black);
  font-weight: 600;
  margin-bottom: 4px;
}

.card-public__name {
  font-size: var(--fs-xs);
  font-weight: 500;
  color: var(--primary-700);
  margin-bottom: 4px;
}

/* === Botón === */

.container-button__public {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.one-public__button {
  background-color: var(--terciary-200);
  color: var(--black);
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: var(--fs-xs);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.one-public__button:hover {
  background-color: var(--terciary-300);
  transform: scale(1.02);
}

.one-public__button:active {
  background-color: var(--terciary-400);
  transform: scale(0.98);
}

.two-public__button {
  background-color: var(--secundary-300);
  color: var(--black);
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: var(--fs-xs);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.two-public__button:hover {
  background-color: var(--secundary-400);
  transform: scale(1.02);
}

.two-public__button:active {
  background-color: var(--secundary-500);
  transform: scale(0.98);
}


/* === Responsive Grid === */
@media (width > 640px) {
  .card-public__container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
    margin-bottom: 50px;
    margin-top: 20px;
  }
}

@media (width > 1024px) {
  .card-public__container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 90%;
    margin-bottom: 50px;
    margin-top: 20px;
  }
}