.page--product::before {
  content: "";
  position: fixed; /*  se mueve igual que el fondo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); 
  z-index: -1; /* detrás de todo */
}

/* Layout */
.page__product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.page__gallery {
  display:flex;
  flex-direction: column;
  /* grid-template-columns: 2fr 1fr; */
  gap: 1rem;
  max-width: 700px;
  background: transparent;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 12px var(--black);
  border: 1px solid var(--black);
}

.page__gallery--left img,
.page__gallery--right img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.page__gallery--right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}


/* Product Card */
.product-card {
  background: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  border-radius: 12px;
  padding: 16px;
}

.product-card__title {
  font-size: var(--fs-sm);
  font-weight: bold;
}

.product-card__subtitle {
  font-weight: bold;
  font-size: var(--fs-xs);
  margin-top: 1rem;
  padding: 0;
}

.product-card__description {
  font-size: var(--fs-xs);
  margin: 0.5rem 0 1rem;
}

.product-card__seller-title {
  font-weight: bold;
  font-size: var(--fs-sm);
  margin: 1rem 0 0.5rem;
}

.product-card__seller {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.product-card__seller-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--black);
  margin-right: 0.5rem;
}

.product-card__seller-name {
  font-weight: bold;
  margin: 0;
}

.product-card__seller-detail {
  color: var(--primary-700);
  font-size: var(--fs-xxs);
  margin: 0;
}

.product-card__button-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}


.product-card__btn {
  height: 40px;
  display: flex;
  background: linear-gradient(135deg, var(--primary-500), var(--primary-700));
  color: var(--white);
  padding: 12px 24px;
  font-size: var(--fs-xs);
  text-decoration: none;
  border-radius: 12px;
  gap: 12px;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
}

.product-card__btn:hover {
  background: linear-gradient(135deg, var(--primary-600), var(--primary-500));
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.product-card__btn:active {
  background-color: var(--primary-900);
  transform: scale(0.98);
}
.product-card__btn svg {
  width: 24px;
  height: 24px;
  stroke: var(--white);
}



@media (width >  640px) {
  .page__product{
    align-items: center;
  }
  .page__gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .page__gallery--right{
    display: flex;
    flex-direction: column;
  }
  .page {
    flex-direction: column;
    padding: 1.5rem;
    max-width: 70%;
    margin: 1rem auto 0;
  }

  .product-card {
    max-width: 80%;
    /* margin: 1rem auto 0; */
  }

  .product-card__btn {
    gap: 12px;
    width: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: var(--fs-xs);
  }


}

.product-card__mensaje{
  text-align: center;
  margin: 12px;
  font-size: var(--fs-xs);
}
.product-card__mensaje--link{
  text-decoration: none;
  color: var(--terciary-700);


}
@media(width > 768px){
  .page__product{
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .product-card{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
  }
}
@media (width >1024px) {
  .page__product{
    align-items: flex-start;
    flex-direction: row;
  }

  .page__gallery {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .page__gallery-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}