/*.background-home {
  background-color: var(--gray-50);
}*/

.contenedor-cards__home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

/* Contenedor que organiza las cards en grilla */
.card-home__container{
  display: grid;
  gap: 24px;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}


.card-home {
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  min-width: 320px;
}

.card-home:hover {
  transform: translateY(-4px);
}


.card-home__img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card-home__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}


.card-home__price {
  font-size: var(--fs-sm);
  color: var(--black);
  font-weight: 600;
  margin-bottom: 4px;
}

.card-home__name {
  font-size: var(--fs-xs);
  font-weight: 500;
  color: var(--primary-700);
  margin-bottom: 4px;
}


.one-home__button {
  background-color: var(--primary-300);
  color: var(--black);
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: var(--fs-xs);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-flex;       /* Flexbox dentro del botón */
  align-items: center;        /* Centra verticalmente texto + icono */
  justify-content: center;    /* Centra horizontalmente */
  gap: 8px;  
}

.one-home__button:hover {
  background-color: var(--primary-400);
  transform: scale(1.02);
}

.one-home__button:active {
  background-color: var(--primary-700);
  transform: scale(0.98);
}
.card__button svg {
  width: 20px;
  height: 20px;
  stroke: var(--black);

}

/* === Responsive Grid === */
@media (width > 640px) {
  .card-home__container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
    margin-bottom: 50px;
    margin-top: 20px;
  }
}

@media (width > 1024px) {
  .card-home__container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 90%;
    margin-bottom: 50px;
    margin-top: 20px;
  }
}