.reset-container {
  display: flex;
  flex-direction: column;   
  align-items: center;   
  width: 100%;
  min-height: 100vh;        
  padding: 40px 20px;     
  text-align: center;    
}

/* Título principal */
.reset-container__title {
  font-size: var(--fs-md);
  font-family: sans-serif;
  font-weight: bold; 
  color: var(--primary-800);
  margin-bottom: 20px;
}

/* Icono */
.reset__icon {
  font-size: 40px;
  margin-bottom: 10px;
}

/* Caja del formulario */
.reset {
  border: 1px solid var(--black);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 2px 2px 6px var(--black);
  width: 100%;
  max-width: 400px;
  background: var(--white);
  margin-top: 40px;
  text-align: center;   
}

/* Subtítulo */
.reset__title {
  color: var(--primary-800);
  font-size: var(--fs-xs);
  font-family: var(--font-primary);
  font-weight: bold; 
  margin: 15px 0 25px;
}

/* Formulario */
.reset__form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Labels */
.reset__label {
  font-size: var(--fs-xxs);
  font-family: var(--font-secundary);
  color: var(--black);
  text-align: center;
  display: block;
  margin-bottom: 6px;
}

/* Inputs */
.reset__input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid var(--black);
  border-radius: 12px;
  outline: none;
  font-size: var(--fs-xxs);
  box-sizing: border-box;
  display: block;
}

/* Botón */
.reset__button {
  width: 100%;
  max-width: 200px;
  padding: 12px;
  background-color: var(--gray-50);
  color: var(--primary-700);
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.reset__button:hover {
  background-color: var(--gray-100);
}


/* Celulares pequeños */
@media (width > 768px) {
  .reset-container {
    padding: 20px 10px;
  }

  .reset-container__title {
    font-size: var(--fs-md);
  }

  .reset {
    max-width: 100%;
    padding: 15px;
  }

  .reset__title {
    font-size: var(--fs-xs);
  }

  .reset__input {
    font-size: var(--font-xxxs);
    padding: 10px;
  }

  .reset__button {
    font-size: var(--fs-xs);
    padding: 10px;
  }
}




