.contact-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid var(--gray-300);
    border-radius: 10px;
    background-color: var(--white);
    font-family: Arial, sans-serif;
}

.contact-form__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: var(--fs-xxxs);
    font-weight: bold;
}

.contact-form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.contact-form__label {
    margin-bottom: 5px;
    font-size: 14px;
    /* font-weight: bold; */
    
}

.contact-form__input,
.contact-form__textarea {
    width: 100%;
    padding: 10px;
    margin: 5px auto;
    border: 1px solid var(--gray-900);
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.contact-form__textarea {
    resize: vertical;
    max-height: 40px;
   font-family: sans-serif;
}

.contact-form__button {
    display: block;
    width: 100px;
    margin: 10px auto 0;
    padding: 10px;
    background-color: var(--gray-50);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: var(--primary-700);
}

.contact-form__button:hover {
    background-color: var(--gray-100);
}
