.product-form__photo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  grid-column: span 2;
}

.product-form__image-preview {
  width: 160px;
  height: 160px;
  border-radius: 12px;
  border: 2px dashed var(--gray-300);
  background-color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-form__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Botón de seleccionar imagen */
.product-form__label--file {
  background: linear-gradient(135deg, var(--primary-700), var(--primary-600));
  padding: 12px 24px;
  border-radius: 8px;
  color: var(--white);
  font-weight: 600;
  font-size: var(--fs-xs);
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  overflow: hidden;
}

.product-form__input-file {
  display: none;
}

.product-form__label--file:hover {
  background: linear-gradient(135deg, var(--primary-600), var(--primary-500));
  transform: scale(1.03);
}

/* RESPONSIVE */
@media (width > 768px) {
  .product-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .product-form__photo-section {
    grid-column: span 2;
  }

  .product-form__image-preview {
    width: 200px;
    height: 200px;
  }
}

@media (width > 1280px) {
  .product-form {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-form__photo-section {
    grid-column: span 3;
  }

  .product-form__image-preview {
    width: 220px;
    height: 220px;
  }
}
 

