
/* .body {
  font-family: var(--main-font);
  background-color: var(--primary-200);
} */
 
.producto-form__title{
  color: var(--primary-700);
  text-align: center;
  font-size: var(--fs-lg);
  margin-top: 30px;
  font-weight: 600;
}
.producto-form {
  width: 100%;
  max-width: 770px;
  margin: 20px auto;
  padding: 12px 24px;
  border: 1px solid var(--black); 
  border-radius: 8px;
  background-color: var(--white);
  text-align: center;
}


.producto-form__subtitle {
  margin-bottom: 5px;
  color: var(--black);
  font-size: var(--fs-sm);
  font-weight: bold;
}

.producto-form__label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.producto-form__row {
  margin-bottom: 15px;
}

.producto-form__row--center {
  text-align: center;
}

.producto-form__input {
  width: 100%;
  height: 56px;
  min-width: 320px;
  padding: 12px 24px;
  margin: 5px auto;
  border: 1px solid var(--black);
  border-radius: 12px;
  font-size: var(--fs-xs);
}

.producto-form__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 20px;
  justify-content: center;
}

.producto-form__btn {
  height: 48px;
  min-width: 64px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: var(--gray-50);
  cursor: pointer;
  font-size: var(--fs-xs);
  margin-top: 10px;
}

.producto-form__btn--publicar {
  color: var(--primary-700);
  font-size: var(--fs-xs);
}


@media (width < 768px) {
  .producto-form {
    padding: 15px;
    border: 1px solid var(--gray-400);
    width: 100%;
    max-width: 400px;
    min-width: 100px;
  }

  .producto-form__subtitle {
    font-size: var(--fs-sm);
    
  }

  .producto-form__grid {
    grid-template-columns: repeat(1, 1fr); 
    gap: 10px;
  }

  .producto-form__input {
    width: 100%; 
    max-width: 200px;
    padding: 20px;
    font-size: var(--fs-xs);
  }

  .producto-form__btn {
    width: 70%;
    max-width: 200px;
    /* min-width: 100px; */
    padding: 12px 24px;
    font-size: var(--fs-xs);
  }
}


