body{
  margin: 0;
}

.header-admin{
  /* height: auto; */
  font-family: var(--main-font);
  /* margin: 0; */
  position: static;
  top: 0px;
  width: 100%;
  background:var(--primary-700);
  height: auto;

}

.header-admin__title{
  margin: 0;
  color: var(--white);
  text-align:center;
  font-size:var(--fs-sm);
}

.header-admin__subtitle{
    padding:10px;
    color: var(--white);
    text-align:center;
    font-size:var(--fs-xs);
    /* font-family: var(--main-font) */
    margin: 0;
    
}



/* =====================
   TABLET (>=768px)
   ===================== */
@media (min-width: 768px) {
  .header-admin {
    padding: 15px 0px;       /* más alto */
    min-height: 100px;     /* asegura un poquito más de altura */
  }

  .header-admin__title {
    font-size:var(--fs-md); /* un poco más grande */
  }

  .header-admin__subtitle {
    font-size: var(--fs-xs);
  }
}

/* =====================
   DESKTOP (>=1024px)
   ===================== */
@media (min-width: 1024px) {
  .header-admin {
    /* margin: 0; */
    /* padding: 15px 0;  */
    min-height: 100px;
  }

  .header-admin__title {
    font-size:var(--fs-md); /* un poco más grande */
  }

  .header-admin__subtitle {
    font-size: var(--fs-xs);
  }
}
