* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.hero-content {
  gap: 12px;
  height: auto;                          
  background-image: url(/frontend/public/img/hero__image.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px 20px;                    
  color: var(--white);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-content__title{
  font-size: var(--fs-xxs);  /* Ajusta según tus variables */
  backdrop-filter: blur(0.5px)
}

.hero-content__information{
  font-size: var(--fs-md);
  font-weight: bold;
  backdrop-filter: blur(0.5px)
}


@media (max-width: 640px) {
  .hero-content {
    height: auto;
    padding: 20px;
    text-align: center;
    align-items: center;
  }

  .hero-content__title{
    font-size: var(--fs-sm);
  }

  .hero-content__information{
    font-size: var(--fs-xs);
  }
}

@media (max-width: 768px) and (min-width:640px) {
  .hero-content {
    height: auto;
    padding: 20px;
    text-align: center;
    align-items: center;
  }

  .hero-content__title{
    font-size: var(--fs-md);
  }

  .hero-content__information{
    font-size: var(--fs-sm);
  }
}

@media (max-width: 1024px) and (min-width:768px){

}
