
/* ====== CONTENEDOR DE TABLAS ====== */
.table-home-container {
  background: var(--white);
  border-radius: 12px;
  width: 80%;
}

/* ====== TABLA DE USUARIOS ====== */
.home-table {
    font-family: var(--main-font);
    width: 100%;
    min-width: 400px;
    border-collapse: collapse;
    background: var(--white);
    box-shadow: 0 4px 12px var(--gray-100);
    font-size: var(--fs-xxxs);
    border-radius: 12px;
    overflow: hidden;
}

.home-table__header,
.home-table__cell {
  padding: 10px 12px;
  text-align: center;
  color: var(--primary-900);
  font-size: var(--fs-xxxs);
}

.home-table__header {
  background-color: var(--white);
  color: var(--black);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

.home-table__row:nth-child(even) {
  background-color: var(--gray-50);
}

.home-table__row:hover {
  background-color: var(--terciary-100);
}

/* celulares */
@media(max-width: 640px){
  .table-home-container{
      width: 100%;
      overflow-y: scroll;
      overflow-x: scroll;;
  }
  .home-table{
    margin: 24px  ;
    width: 100%;
  }
}

@media(max-width: 768px) and (min-width: 640px){
  .home-table{
    width: 100%;
  }
}

@media(max-width: 1024px) and (min-width: 768px){
  .table-home-container{
    width: 100%;
  }
}


@media(max-width: 1280px) and (min-width: 1024px){
  .table-home-container{
    width: 70%;
  }
}
@media(max-width: 1536) and (min-width: 1280px){
  .table-home-container{
    width: 100%;
  }
}