.header{
  position: static;
  padding-top: 5px;
  
}

.header__title{
  color: var(--primary-800);
  font-size: var(--fs-md);
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.header__subtitle{
  color: var(--gray-900);
  font-size: var(--fs-xs);
  font-family: var(--main-font );
  text-align: center;
  padding-bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primary-800);
  padding: 10px 20px;
  flex-wrap: wrap;
  width: 100%;
}

.navbar__group {
  display: flex;
}

.navbar__list {
  margin: 0;
  display: flex;
  gap: 40px;
  flex-grow: 1;
  align-items: center;
  flex-direction: row;
}

.navbar__link {
  color: var(--white);
  text-decoration: none;
  font-weight: medium;
}
.navbar__icon {
  filter: brightness(0) invert(1); /* blanco */
  transition: filter 0.3s ease;
}

.navbar__icon:hover {

  background-color:var(--white);
  border-radius: 50%;
}

 @media (width > 768px){
    .navbar__list{
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 40;
        flex-grow: 1;
        justify-content: space-evenly;
        
    } 
  
}



