.profile-content{
    border: 2px solid var(--black);
    padding: 20px 50px;
    /* width: 20%; */
    /* margin: 100px; */
    /* margin-left: 650px; */
    border-radius: 12px;
    gap: 20px;
    max-width: 350px;
}

.profile__field{
    color: var(--black);
    margin-top: 10px;
    font-size: var(--fs-xxxs);
}

.profile__paragraph{
    font-size: var(--fs-xxxs);
    margin-top: 10px;
    color: var(--black);
}

.profile__title{
    color: var(--black);
    color: var(--primary-800);
    text-align: center;
    font-size: var(--fs-xxxs);
}

.profile-button__edit{
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin: 20px auto 0; */
    padding: 10px 24px;
    background-color: var(--primary-700);
    color: var(--white);
    font-size: var(--fs-xxxs);
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.profile-button__edit:hover{
    cursor: pointer;
}

/* @media (max-width: 1024px) {
    .profile-content {
        margin: 36px auto; */
        /* width: 50%;
    }
} */

/* Celular (hasta 600px) */
@media (max-width: 600px) {
    .profile-content {
        margin: 24px auto;
        width: 90%;
        padding: 16px 20px;
    }

    .profile-button__edit {
        margin-top: 10px;
        width: 80%;
        padding: 12px;
        font-size: var(--fs-xxxs);
    }
}