.profile-content{
  margin:24px;
}
.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
  }
.profile__title-principal{
  font-size: var(--fs-sm);
  color: var(--primary-700);
  text-align: center;
  /* margin-top: 20px; */
}
.profile {
  width: auto;
  margin: 24px auto;
  border-radius: 12px;
  overflow: hidden;
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  color: var(--white);
  transition: all 0.3s ease;
}

/* === CABECERA CON IMAGEN === */
.profile__header {
  display: flex;
  position: relative;
  background:var(--overlay-dark-strong);
  padding: 24px;
  text-align: center;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  gap: 8px;
  flex-direction: column;
}

.profile__img-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid var(--gray-300);
  margin: 0 auto;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.4);
}

.profile__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__title {
  font-size: var(--fs-sm);
  color: var(--white);
}

.profile__subtitle {
  font-size: var(--fs-xs);
  overflow-wrap: break-word;

}

/* === CUERPO CON CAMPOS === */
.profile__body {
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile__item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.profile__label {
  /* width: 50%; */
  padding: 8px 0 0 0;
  border-top: 1px solid var(--gray-100);
  font-size: var(--fs-xxxs);
  color: var(--black);
  font-weight: 500;
  /* margin: 4px 0 0 0; */
  /* box-shadow: 0 1px 10px var(--gray-300); */
}

.profile__value {
  /* border-top: 1px solid var(--gray-600); */
  background: rgba(255, 255, 255, 0.15);
  /* border: 1px solid rgba(255, 255, 255, 0.25); */
  /* border-radius: 10px; */
  padding: 4px 16px;
  font-size: var(--fs-xs);
  color: var(--black);
  /* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); */
}

/* === BOTÓN === */
.profile__actions {
  margin: 0 0 12px 0;
  display: flex;
  justify-content: center;
}

.profile__button--edit {
  background-color: var(--primary-700);
  color: var(--white);
  border: none;
  padding: 11px 16px;
  border-radius: 10px;
  font-size: var(--fs-xs);
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.profile__button--edit:hover {
  background-color: var(--primary-600);
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* === BOTÓN VOLVER === */
.profile-button__back {
  height: 36px;
  margin: 24px 0 0 24px;
  width: max-content;
  position: static;
  background-color: var(--primary-700);
  color: var(--white);
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.profile-button__back:hover {
  background-color: var(--primary-600);
}
@media(width > 640px){
  .profile-content{
    margin: 0 24px 24px 24px;

  }
  .profile-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
  .profile{
    width: 500px;
  }

 .profile__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

}

@media(width > 768px){
  
  .profile__header{
    width: 200px;
    border-radius: 12px;
    justify-content: center;
  }
  .profile{
    width: 700px;
    display: flex;
    flex-direction: row;
  }
  .profile__body::before{
    display: none;
  }
  .profile__group{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

