  .search-orders{
    display: flex;
    flex-direction: column;
    margin:0 24px;
    gap: 24px;
    align-items: center;
  }
/* title */
.search-orders__title {
  font-size: var(--fs-sm);
  text-align: center;
  color: var(--black);
  font-family: var(--main-font)
}
/*Contenedor principal*/
.search-orders-container {
  display: flex;
  align-items: center;
  width: 450px;
  height: 56px;
  background: var(--white);
  border: 1px solid var(--gray-900);
  border-radius: 8px;
  padding: 12px 24px;
  gap: 8px;
}

.search-orders__icon {
  color: var(--gray-900);
  margin-right: 0.5rem;
  display: flex;
  align-items: center; 
}

.search-orders__filter__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-900);
}

/*Style input*/
.search-orders__bar {
  /* width:; */
  flex: 1;
  border: none;
  outline: none;
  font-size: var(--fs-xs);
  background: transparent; 
  color: var(--gray-900);
  align-items: center;
}
/* celulares */
@media( max-width: 640px){
  .search-orders-container{
    margin-top: 100px;
    width: 100%;
    max-width: 450px;
    margin: 0;
  }
  .search-orders__bar{
    width: 100%;
  }
  .search-orders__title{
    margin: 0;
  }
}
/* tablets */
@media( max-width: 768px) and (min-width: 640px)  {
  .search-orders{
    align-items: center;

  }
  .search-orders-container{
    margin-top: 100px;
    width: 100%;
    max-width: 450px;
    margin: 0;
  }
}
/* laptops */
@media (max-width:1024px) and (min-width:768px) {
  .search-orders-container{
    max-width: 450px;
  }

}

@media (max-width:1280px) and (min-width:1024px){
  .search-orders-container{
    max-width: 600px;
  }

}



/* big screen  */
@media (max-width:1536px) and (min-width:1280px) {
  .search-users-container{
    max-width: 450px;
    margin: 0;
  }
  .search-orders{
    align-items: start;
    margin-left: 321px;

  }
}
