.sidebar {
  position: static;
  width: 100%;               /* móvil: ocupa todo el ancho */
  background: var(--white);
  padding: 20px 10px;
  display: flex;
  flex-direction: row;    /* por defecto en columna (<=478px) */
  box-shadow: 2px 0 5px var(--gray-100);
  border-radius: 8px;
  justify-content: center;
  font-family: var(--main-font);
}

.sidebar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar__item {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease, color 0.2s ease;
  color: var(--black);
}

.sidebar__item:hover {
  background: var(--white); }
.sidebar__item--active { 
  background: var(--terciary-50); 
  font-weight:700; 
  color:var(--terciary-500); }

.sidebar__icon { 
  width: 20px; 
  height: 20px; 
  flex-shrink: 0; 
  margin-right: 12px; }
.sidebar__text { 
  font-family: var(--main-font);
  flex: 1; 
  font-size: 14px; }

/* ===== Tablet: de 479px hasta 1115px => barra horizontal ===== */
@media (min-width: 479px) and (max-width: 1115px) {
  .sidebar {
    border-radius: 0px;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    box-shadow: none; /* opcional para que no interfiera visual */
  }

  .sidebar__list { 
    flex-direction: row; 
    gap: 15px; 
    align-items: center; }
  .sidebar__item { 
    padding: 8px; }
  .sidebar__icon { 
    margin-right: 0; }
}

/* ===== Desktop: >=1116px ===== */
@media (min-width: 1116px) {
  .layout { 
    flex-direction: row; 
  }
  .sidebar {
    width: 200px;
    flex: 0 0 250px;
    margin: 30px;
    border-radius: 12px;
    top: 90px; /* si lo necesitas, asegurate que el position lo soporte */
  }
}
