.sidebar {
  position: static;
  margin: 24px;
  background: var(--white);
  padding: 20px 10px;
  display: flex;
  flex-direction: row;    /* por defecto en columna (<=478px) */
  box-shadow: 2px 0 5px var(--gray-100);
  border-radius: 8px;
  justify-content: center;
  font-family: var(--main-font);
}

.sidebar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sidebar__item {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease, color 0.2s ease;
  color: var(--black);
}

.sidebar__item:hover {
  background: var(--white); }
.sidebar__item--active { 
  background: var(--terciary-50); 
  font-weight:700; 
  color:var(--terciary-500); }

.sidebar__icon { 
  width: 24px; 
  height: 24px; 
  flex-shrink: 0; 
  margin-right: 12px; }
.sidebar__text { 
  font-family: var(--main-font);
  flex: 1; 
  font-size: var(--fs-xs); }


@media(max-width: 640px){
  .sidebar__list{
    flex-direction: column;
  }
  .sidebar{
    border-radius: 0;
    margin: 0 24px;
    box-shadow: none;
  }
}

@media (max-width: 768px) and (min-width: 640px) {
    .sidebar__list{
      flex-direction: row;
    }
  }



@media (max-width: 1024px) and (min-width: 768px) {
  .sidebar {
    display: flex;
    border-radius: 0px;
    flex-direction: row;
    padding: 10px;
    box-shadow: none;
    justify-content: space-around;
  }

  .sidebar__list { 
    flex-direction: row; 
    gap: 24px; 

  }
  .sidebar__item { 
    padding: 8px;
   }
  .sidebar__icon { 
    margin-right: 0; }
}

@media (max-width: 1280px) and (min-width: 1024px){
  .sidebar{
    box-shadow: none;

  }
  .sidebar__list{
    flex-direction: row;
  }

}
@media (max-width: 1536px) and (min-width: 1280px){
  .sidebar{
    width: 250px;
  }
  .sidebar__list{
    flex-direction: column;
  }
}

