body {
    background-color: var(--primary-100);
    font-family: var(--main-font);
    margin: 0;
}

.header-container {
    background-color: var(--primary-700);
    padding: 25px;
    color: var(--white);
}

.header__title {
    font-size: var(--fs-sm);
    text-align: center;
}

.header__subtitle {
    font-size: var(--fs-xs);
    text-align: center;
}

.tableorder-container {
    background-color: var(--white);
    width: 930px;
    height: auto;
    padding: 24px 0px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    font-family: var(--main-font);
    border-radius: 16px;
    margin-bottom: 100px;
}

.tableorder-content {
    color: var(--black);
}

table {
    padding: 24px;
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 12px;
    gap: 12px;
    border-spacing: 20px;
    box-shadow: 0 4px 8px var(--black);
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: var(--terciary-800);
    color: var(--white);
}

tr:nth-child(even) {
    background-color: var(--white);
}

.tableorder__btn--pending {
    background-color: var(--secundary-400);
    color: var(--black);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.tableorder__link {
    display: block;
    text-align: center;
    margin-bottom: 0px;
    margin: 100px;
    color: var(--primary-950);
    text-decoration: none;
}

.tableorder__link--home:hover {
    text-decoration: underline;
}