.toolbar-products {
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  gap: 24px;
}

.toolbar-products__content{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: var(--white);
  gap: 24px;
}

.toolbar-products__button {
  max-width: 450px;
  height: 40px;
  background-color: var(--gray-100);
  width: 100%;
  font-size: var(--fs-xs);
  font-weight: 400;
  padding: 0px 16px;
  border: none;
  border-radius: 12px;
  color: var(--primary-700);
  cursor: pointer;
}

.toolbar-products__row-icons {
  flex-direction: row;
  display: flex;
  gap: 24px;
}
.toolbar-products__icon {
  display: flex;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--gray-100);
  align-content: space-around;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.toolbar-products__icon-img {
  width: 24px;
  height: 24px;
}

/* celular */
@media (max-width: 640px) {
  .toolbar-products__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .toolbar-products__button {
    max-width: 450px;
    width: 100%;
    font-weight: 500;
  }
  .toolbar-products__search {
    max-width: 450px;
    padding: 8px 12px;
  }
  .toolbar-products__row-icons {
    gap: 24px;
  }
}


/* tablet */
@media (max-width:768px) and (min-width:640px) {
  .toolbar-products__content {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .toolbar-products__button {
    width: 100%;
    max-width: 200px;
    font-weight: 500;
  }
  .toolbar-products__search {
    /* max-width: 150px; */
    padding: 8px 12px;
  }
  .toolbar-products__row-icons {
    gap: 24px;
  }
}

@media (max-width:1024px) and (min-width:768px) {
  .toolbar-products{
    flex-direction: row;
  }
  .toolbar-products__content{
    flex-direction: row;
    justify-content: flex-end;

  }
  .toolbar-products__button {
    width: 100%;
    max-width: 200px;
    font-weight: 500;
  }
}


/* Desktop */
@media(max-width:1280px) and (min-width: 1024px){
  .toolbar-products{
    flex-direction: row;
  }
  .toolbar-products__content{
    flex-direction: row;

  }
  .toolbar-products__content{
    flex-direction: row;
    justify-content: flex-end;
  }
  .toolbar-products__button{
    width: 190px;
  }
  .toolbar-products__search{
    width: 190px;
  }
}
/* big screen */
@media(max-width:1536px) and (min-width: 1280px){
  .toolbar-products{
    flex-direction: row;
  }
  .toolbar-products__content{
    flex-direction: row;
    justify-content: flex-end;
  }
  .toolbar-products__button{
    width: 190px;
  }
  .toolbar-products__search{
    width: 190px-products
  }
}