.toolbar-orders{
    display:flex;
    flex-direction: column;
    /* gap: 20px; */
    align-items: center;
    background-color: var(--white);
    gap: 24px;
    margin: 24px;
}

.toolbar-orders__content{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: var(--white);
  gap: 24px;
}

.toolbar-orders__row-buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.toolbar-orders__button{
  /* max-width: 450px; */
  background-color: var(--gray-100);
  /* width: 100%; */
  height: 40px;
  font-size:var(--fs-xs);
  font-weight: 400;
  padding: 0 16px;
  border: none;
  border-radius:12px;
  color: var(--primary-700);
  cursor: pointer;
}

.toolbar-orders__row-icons {
  flex-direction: row;
  display: flex;
  gap: 24px;
}
.toolbar-orders__icon {
  display: flex;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--gray-100);
  align-content: space-around;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.toolbar-orders__icon-img {
  width: 24px;
  height: 24px;
}

/* celular */
@media (max-width: 640px) {
  .toolbar-oorders__content {
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
  }
  .toolbar-orders__row-buttons{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .toolbar-orders__button {
    max-width: 450px;
    width: 100%;
    font-weight: 500;
  }
  .toolbar-orders__search {
    max-width: 450px;
    padding: 8px 12px;
  }
  .toolbar-orders__row-icons {
    gap: 24px;
  }
}


/* tablet */
@media (max-width:768px) and (min-width:640px) {

  .toolbar-orders__button {
    width: 100%;
    font-weight: 500;
  }
  .toolbar-orders__search {
    /* max-width: 150px; */
    padding: 8px 12px;
  }
  .toolbar-orders__row-icons {
    gap: 24px;
  }
}

@media (max-width:1024px) and (min-width:768px) {
  .toolbar-orders{
    flex-direction: row;
  }
  .toolbar-orders__content{
    flex-direction: row;

  }
  
  .toolbar-orders__row-buttons{
    justify-content: flex-end;
  }
}


/* Desktop */
@media(max-width:1280px) and (min-width: 1024px){
  .toolbar-orders{
    flex-direction: row;
  }
  .toolbar-orders__row-buttons{
    justify-content: flex-end;
  }
  
  .toolbar-orders__content{
    flex-direction: row;
    justify-content: flex-end;
  }
  .toolbar-orders__button{
    width: 190px;
  }
  .toolbar-orders__search{
    width: 190px;
  }
}
/* big screen */
@media(max-width:1536px) and (min-width: 1280px){
  .toolbar-orders{
    flex-direction: row;
  }
  .toolbar-orders__content{
    flex-direction: row;
    justify-content: flex-end;
  }
  .toolbar-orders__row-buttons{
    justify-content: flex-end;
  }
  .toolbar-orders__button{
    width: 190px;
  }
  .toolbar-orders__search{
    width: 190px;
  }
}