.form-unit-measure__container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 900px;
    height: 570px;
    border-radius: 12px;
    gap: 8px;
}
.unit-measure {
    border: 1px solid var(--black);
    border-radius: 8px;
    width: 320px;
    font-family: var(--main-font);
    margin-top: 20px;
    margin-left: 90px;
}

.unit-measure__title {
    text-align: center;
    font-size: var(--fs-sm);
    margin: 0;
    padding: 20px 0;
    font-weight: bold;
    color: var(--black);
}

.unit-measure hr {
    border: 1px solid var(--black);
    width: 100%;
}

.unit-measure__form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 30px 30px; 
}

.unit-measure__form label {
    font-size: var(--fs-xs);
    cursor: pointer;
    color: var(--black);
}
