<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>

    <link rel="stylesheet" href="/frontend/public/css/variables.css">
    <link rel="stylesheet" href="/frontend/public/css/components/form_contact.css">

    <script src="/frontend/public/js/components/form_contact.js" defer></script>
</head>
<body>
    
    <form class="contact-form__body">
        <div class="contact-form-container"></div>
    </form>
 
</body>
</html>