<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Shop</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
</head>
<body>


    <div class="page-left__shop">
        <h1 class="page__title-left">Bienvenido a Agrophia <br>conectando el campo con tu mesa</h1>
    </div>

    <!-- Mitad derecha (formulario) -->
    <div class="page-right__shop">
        <div class="page__formshop-container"></div>    
    </div>


    <script src="/frontend/public/js/components/create-shop.js" defer></script>

</body>
</html>