<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>

    <link rel="stylesheet" href="/frontend/public/css/variables.css">
    <link rel="stylesheet" href="/frontend/public/css/components/header_amount_product.css">

    <script src="/frontend/public/js/components/header_amount_product.js" defer></script>

    <header class="header">
        <div class="header-container"></div> 
    </header>