<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/frontend/public/css/main.css">  -->
    <link rel="stylesheet" href="/frontend/public/css/variables.css">
    <link rel="stylesheet" href="/frontend/public/css/components/sidebar.css">
    <link rel="stylesheet" href="/frontend/public/css/components/header_admin.css">
    <link rel="stylesheet" href="/frontend/public/css/components/layout.css">
    <link rel="stylesheet" href="/frontend/public/css/components/toolbar-home.css">
    <link rel="stylesheet" href="/frontend/public/css/components/home_table.css">
    <link rel="stylesheet" href="/frontend/public/css/components/card_admin_home.css">
    <script src="/frontend/public/js/components/header_admin.js" defer></script>
    <script src="/frontend/public/js/components/sidebar_admin.js" defer></script>
    <script src="/frontend/public/js/components/toolbar_home.js" defer></script>
    <script src="/frontend/public/js/components/table_home_admin.js" defer></script>
    <script src="/frontend/public/js/components/card_home_information.js" defer></script>
    <title>Home</title>
</head>
<body>
    <header class="header-adminis"></header>
    <!-- sidebar colocado en columna izquierda -->
    <div class="toolbar-home"></div>
    <!-- <div class="table_header-users"> </div> -->
    <div class="layout">
        <div class="sidebar-container"></div>
        <div class="table-home-container"></div>
        <div class="card_home"></div>
    </div>
</body>
</html>
