<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">

    <link rel="stylesheet" href="/frontend/public/css/variables.css">
    <link rel="stylesheet" href="/frontend/public/css/components/interface_farmer.css">
    <link rel="stylesheet" href="/frontend/public/css/components/footer_interface.css">
    <link rel="stylesheet" href="/frontend/public/css/components/search_interface_farmer.css ">
    <link rel="stylesheet" href="/frontend/public/css/components/interface_option_farmer.css">
    
   
    
    <script src="/frontend/public/js/components/interface_farmer.js" defer></script>
    <script src="/frontend/public/js/components/footer_interface.js" defer></script>
    <script src="/frontend/public/js/components/search_interface_farmer.js" defer></script>
     <script src="/frontend/public/js/components/interface_option_farmer.js" defer></script>
   
    



</head>
<body>
    
    <header class="header">

        <div class="navbar-container"></div>
        
    </header>


        <div class="navbar-container"></div> 
    </header>

       <footer class="footer">  
         <div class="footer-container"></div>
     </footer>   

     <section class="search__container"></section>

      <section class="board-container"></section>



</body>
</html>