<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
     <link rel="stylesheet" href="/frontend/public/css/components/forloggin.css">
     <link rel="stylesheet" href="/frontend/public/css/components/buttonBack.css">
     <link rel="stylesheet" href="/frontend/public/css/variables.css">
    <script src="/frontend/public/js/components/login.js" defer></script>
    <script src="/frontend/public/js/components/buttonBack.js" defer></script>


</head>
<body>
    <div class="button-container"></div>
    <!-- <div class="page"> -->
    <!-- Mitad izquierda (imagen) -->
    <div class="page__left">
        <h1 class="login__title-left">Bienvenido a Agrophia <br>conectando el campo con tu mesa</h1>
    </div>

    <!-- Mitad derecha (formulario) -->
    <div class="page__right">
        <div class="login-container"></div>
    </div>
  </div>
    

</body>
</html>