<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/frontend/public/icons/planta.png">

    <link rel="stylesheet" href="/frontend/public/css/main.css">

    <script src="/frontend/public/js/components/gov-co__one.js"></script>
    <script src="/frontend/public/js/components/gov-co__two.js"></script>
    <script src="/frontend/public/js/components/interface_farmer.js" defer></script>
    <script src="/frontend/public/js/components/footer.js" defer></script>
    <script src="/frontend/public/js/components/tableOrder.js" defer></script>

    <title>solicitudes de pedidos</title>
</head>
<body>
    <div class="govco-container__one"></div>
    <header class="navbar-container"></header>


    <div class="tableorder-container"></div>

    <footer class="footer">  
         <div class="footer-container"></div>
    </footer>
    <div class="govco-container__two"></div>
</body>
</html>