<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <script src="/frontend/public/js/components/header_admin.js" defer></script>
    <script src="/frontend/public/js/components/toolbar_pedidos.js" defer></script>
    <script src="/frontend/public/js/components/search_orders.js"></script>
    <script src="/frontend/public/js/components/sidebar_admin.js" defer></script>
    <script src="/frontend/public/js/components/orders_admin.js" defer></script>

    
    <title>Pedidos</title>
</head>
<body>
    <header class="header-adminis"></header>
    <div class="toolbar_orders"></div>
    <div class="search-orders"></div>    

    <div class="layout">
        <div class="sidebar-container"></div>
        <!-- Contenido principal -->
        <div class="table-orders"></div>
    </div>
</body>
</html>
