<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página cards publicados</title>
  <!-- <link rel="stylesheet" href="/frontend/public/css/main.css"> -->
   <link rel="stylesheet" href="/frontend/public/css/variables.css">
   <link rel="stylesheet" href="/frontend/public/css/components/card-disable.css">
</head>
<body>

  <!-- Aquí se cargará la Card -->
    <section class="contenedor-cards__disable">
        <div class="card-disable__container"></div>
    </section>

  <script src="/frontend/public/js/components/card-disable.js"></script>
</body>
</html>