<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <!-- <link rel="stylesheet" href="/frontend/public/css/main.css"> -->
   <link rel="stylesheet" href="/frontend/public/css/variables.css">
   <link rel="stylesheet" href="/frontend/public/css/components/forgot-password.css">
</head>
<body>
  <div class="forgot-password__page">
    <section class="hero-forgot__container">
      <div class="hero-forgot__password"></div>
    </section>
    
    <!-- Aquí se carga dinámicamente el componente -->
    <div class="forgot__container"></div>
  </div>

  <script src="/frontend/public/js/components/forgot-password.js"></script>
  <script src="/frontend/public/js/components/hero-forgot-password.js"></script>
</body>
</html>
