<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página metodo de pago</title>
  <!-- Enlace al CSS -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">
</head>

<body>
  <header class="header-method__payment">
    <div class="header-method__container"> </div>
  </header>
  <!-- Aquí se insertará el formulario dinámicamente -->
  <div class="method-payment__container"></div>

  <footer class="footer">
    <div class="footer-container"></div>
  </footer>


  <!-- Script del componente -->
  <script src="/frontend/public/js/components/navbar-method-payment.js"></script>
  <script src="/frontend/public/js/components/from-method__payment.js"></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
</body>

</html>