<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unidad de Medida</title>

  <link rel="icon" href="/frontend/public/icons/planta.png">

  <link rel="stylesheet" href="/frontend/public/css/main.css">
  
  <title>Página unidad de medida</title>

</head>
<body>
  <!-- Contenedor donde se cargará el componente -->
    <div class="page-left__unit-measure">
        <h1 class="page-left__unit-measure__title">Disfruta lo mejor de nuestros <br><br>productos</h1>
    </div>

    <!-- Mitad derecha (formulario) -->
    <div class="page-right__unit-measure">
    <div class="input-group"></div>
    </div>  
  <!--<script src="/frontend/public/js/components/footer.js" defer></script>-->
  <script src="/frontend/public/js/components/form_unidad_medida.js" defer></script>
</body>
</html>
