<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unidad de Medida</title>
  <!-- <link rel="stylesheet" href="/frontend/public/css/main.css"> -->
   <link rel="stylesheet" href="/frontend/public/css/variables.css">
   <link rel="stylesheet" href="/frontend//public/css/components/unit-measure.css">
  <title>Página unidad de medida</title>
  <link rel="stylesheet" href="/frontend/public/css/main.css">
  <link rel="stylesheet" href="/frontend/public/css/components/navbar-unit-measure.css">
  <link rel="stylesheet" href="/frontend/public/css/components/form_unidad_medida.css">
</head>
<body>
  <!-- Contenedor donde se cargará el componente -->
  <div class="form-unit-measure__container">
    <div class="unit-measure__container"></div>
    <form class="input-group">
        <div class="container-unidad__medida"></div>
    </form>
  </div>

  <!--<footer class="footer">  
    <div class="footer-container"></div>
  </footer>  --> 
  
  <!--<script src="/frontend/public/js/components/footer.js" defer></script>-->
  <script src="/frontend/public/js/components/form_unidad_medida.js" defer></script>
  <script src="/frontend/public/js/components/unit-measure.js"></script>
</body>
</html>
