<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <link rel="stylesheet" href="/frontend/public/css/components/header_admin.css">
    <link rel="stylesheet" href="/frontend/public/css/components/sidebar.css">
    <link rel="stylesheet" href="/frontend/public/css/components/pedidos_table.css">
    <link rel="stylesheet" href="/frontend/public/css/components/card_information_admin.css">
    <link rel="stylesheet" href="/frontend/public/css/components/toolbar_orders.css">
    <script src="/frontend/public/js/components/header_admin.js" defer></script>
    <script src="/frontend/public/js/components/toolbar_pedidos.js" defer></script>
    <script src="/frontend/public/js/components/sidebar_admin.js" defer></script>
    <script src="/frontend/public/js/components/pedidos_admin.js" defer></script>
    <script src="/frontend/public/js/components/card_information_admin.js" defer></script>
    
    <title>Pedidos</title>
</head>
<body>
    <header class="header-adminis"></header>
    <div class="toolbar_orders"></div>

    <!-- Contenedor del sidebar -->
    <!-- <div class="sidebar-container"></div> -->
    <!-- Contenido principal -->
    <div class="table_pedidos"></div>

    <!-- <div class="card_admin_information"></div> -->
</body>
</html>
