<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <script src="/frontend/public/js/components/sidebar_admin.js" defer></script>
    <script src="/frontend/public/js/components/header_admin.js" defer></script>
    <script src="/frontend/public/js/components/toolbar_products.js" defer></script>
    <script src="/frontend/public/js/components/search_products.js" defer></script>
    <script src="/frontend//public/js/components/products_table.js" defer></script>
    <script src="/frontend/public/js/components/card_information_admin.js"></script>
    <title>Productos</title>
</head>
<body>
    <header class="header-adminis"></header>
    <div class="toolbar-products"></div>
    <div class="search-products"></div>
    <div class="layout">
    <!-- Contenedor del sidebar -->
        <div class="sidebar-container"></div>
        <div class="table-products"></div>
        <div class="card_admin_information"></div>
    </div>
</body>
</html>
