<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/frontend/public/icons/planta.png">

    <link rel="stylesheet" href="/frontend/public/css/main.css">

    <script src="/frontend/public/js/components/comment_bar.js" defer></script>
    <script src="/frontend/public/js/components/card-description-product.js" defer></script>
    <script src="/frontend/public/js/components/navbar.js" defer></script>
    <script src="/frontend/public/js/components/footer.js" defer></script> 

    <title>Product</title>
</head>
<body class="page--product">

    <header class="header">

        <div class="navbar-container"></div>
        
    </header>

    <section class="card__description-container"></section>

    <div class="questionbar-container"></div>

    <footer class="footer">  
         <div class="footer-container"></div>
    </footer> 

</body>
</html>