<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/frontend/public/css/variables.css">
    <link rel="stylesheet" href="/frontend/public/css/components/comment_bar.css">
    <link rel="stylesheet" href="/frontend/public/css/components/card-description-product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/frontend/public/css/components/navbar.css">
    <link rel="stylesheet" href="/frontend/public/css/components/footer.css">

    <script src="/frontend/public/js/components/comment_bar.js" defer></script>
    <script src="/frontend/public/js/components/card-description-product.js" defer></script>
    <script src="/frontend/public/js/components/navbar.js" defer></script>
    <script src="/frontend/public/js/components/footer.js" defer></script> 


    <title>Product</title>
</head>
<body>

    <header class="header">

        <div class="navbar-container"></div>
        
    </header>

    <section class="card__description-container"></section>

    <div class="questionbar-container"></div>

    <footer class="footer">  
         <div class="footer-container"></div>
    </footer> 

</body>
</html>