<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <link rel="stylesheet" href="/frontend/public/css/components/sidebar.css">
    <script src="/frontend/public/js/components/sidebar_admin.js" defer></script>
    <title>Pedidos</title>
</head>
<body>
    <!-- Contenedor del sidebar -->
    <div class="sidebar-container"></div>
</body>
</html>
