<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>

  <!-- Tus estilos -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">

  <!-- Script arriba con defer -->
  <script src="/frontend/public/js/components/profile.js" defer></script>
  <script src="/frontend/public/js/components/buttonBack.js" defer></script>
</head>
<body>
    <!-- <div class="page"> -->
    <!-- Mitad izquierda (imagen) -->
    <div class="page__left_profile"></div>

    <!-- Mitad derecha (formulario) -->
    <div class="page__right_profile">
      <div class="button-container"></div>
      <div class="profile-container"></div>
    </div>
  </div>
</body>
</html>


