<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="/frontend/public/css/variables.css">
    <link rel="stylesheet" href="/frontend/public/css/components/buttonBack.css">
    <link rel="stylesheet" href="/frontend/public/css/components/register.css">
</head>
<body>   

    <div class="page">
        <!-- Mitad izquierda (imagen) -->
        <div class="page__left">
            <p class="home__description">Únete a Agrophia <br> Conectando el campo con tu mesa</p>
        </div>

        <!-- Mitad derecha (formulario) -->
        <div class="page__right">

            <div class="button-container"></div>

            <h1 class="home__title">Agrophia</h1>

            <div class="form-container"></div>
        </div>
    </div>

    <script src="/frontend/public/js/components/buttonBack.js"></script>
    <script src="/frontend/public/js/components/form.js"></script>

</body>
</html>
