<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset</title>

    <link rel="stylesheet" href="/frontend/public/css/main.css">
    
    <script src="/frontend/public/js/components/form_reset_password.js" defer></script>
    <script src="/frontend/public/js/components/buttonBack.js" defer></script>
    
    
</head>
<body>
    
    

   <div class="page__left_reset">
            <p class="page__description">Únete a Agrophia <br> Conectando el campo con tu mesa</p>
        </div>

    <!-- Mitad derecha (formulario) -->
    <div class="page__right_reset">
        <form class="reset__form">
            <div class="reset-container"></div>  
       </form>

       <div class="button-container"></div>
     
    </div>
  
