<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset</title>

    <link rel="stylesheet" href="/frontend/public/css/variables.css">
    <link rel="stylesheet" href="/frontend/public/css/components/form_reset_password.css">
    
    <script src="/frontend/public/js/components/form_reset_password.js" defer></script>
    

</head>
<body>
    
    <form class="reset__form">
        <div class="reset-container"></div>
    </form>