<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/frontend/public/css/main.css"> -->
    <link rel="stylesheet" href="/frontend/public/css/variables.css">
    <link rel="stylesheet" href="/frontend/public/css/components/shopping_car.css">
    <title>Tabla de Productos</title>
</head>
<body>
    <header class="header-container">
        <div class="header-content">
            <h1 class="heaer__title">Mi carrito</h1>
            <img class="header__icon" src="/frontend/public/assets/cards/shopping-cart.svg" alt="Car">
        </div>
        <h2 class="header__subtitle">Revisa las solicitudes de los carritos que has realizado</h2>
    </header>

    <div class="shoppingcar-container"></div>

    <footer class="footer">  
         <div class="footer-container"></div>
    </footer>   

    <script src="/frontend/public/js/components/shopping_car.js"></script>
    <script src="/frontend/public/js/components/footer.js"></script>
</body>
</html>