<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar producto</title>

    <link rel="icon" href="/frontend/public/icons/planta.png">
    <link rel="stylesheet" href="/frontend/public/css/main.css">
     <script src="/frontend/public/js/components/gov-co__one.js"></script>
     <script src="/frontend/public/js/components/gov-co__two.js"></script>    
    <script src="/frontend/public/js/components/interface_farmer.js" defer></script>
    <script src="/frontend/public/js/components/update_product.js" defer></script>
    <script src="/frontend/public/js/components/footer.js" defer></script>

</head>
<body>
    
   <!-- <div class="producto-form__title">Agrophia</div> -->
     <div class="govco-container__one"></div>
   <header >
        <div class="navbar-container"></div>
   </header> 

    <div class="update-product"></div>

     <footer class="footer-container"></footer>
     <div class="govco-container__two"></div>
</body>
</html>