<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/public/css/main.css"> 
    <script src="/frontend/public/js/components/usuarios_admin.js" defer></script>
    <script src="/frontend/public/js/components/sidebar_admin.js" defer></script>
    <script src="/frontend/public/js/components/header_admin.js" defer></script>
    <script src="/frontend/public/js/components/toolbar.js" defer></script>
    <script src="/frontend/public/js/components/search_users.js" defer></script>
    <title>Usuarios</title>
</head>
<body>
    <header class="header-adminis"></header>
    <!-- sidebar colocado en columna izquierda -->
        <div class="toolbar"></div>
        <!-- <div class="table_header-users"> </div> -->
        <div class="search-users"></div>  
        <div class="layout">
        <div class="sidebar-container"></div>
        <div class="table_users"></div>
    <!-- </div> -->
</body>
</html>
